#contact {
  background: linear-gradient(
    135deg,
    $bg-secondary 0%,
    $bg-primary 50%,
    $bg-dark 100%
  );
}

#hexagon-aniamtion {
  & > * {
    transform: rotate(0deg);
    transform-origin: center;

    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;

    $delay-start: 0;
    $delay-increase: 2;
    $duration-start: 2;
    $duration-increase: 0.6;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: #{$delay-start}s;
        animation-duration: #{$duration-start}s;

        $delay-start: calc($delay-start + $delay-increase);
        $duration-start: calc($duration-start + $duration-increase);
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
