// OPTION 1
$bg-primary: #020f29;
$bg-secondary: #1c2a47;
$bg-accent: #8fffe6;
$bg-tertiary: #981ee2;
$bg-error: #e52525;
$bg-light: #f3f1f3;
$bg-dark: #050d1f;
$text-header-dark: $bg-accent;

// OPTION 2
$bg-primary: #0f2238;
$bg-secondary: #2a4666;
$bg-accent: #6d33e2;
$bg-tertiary: #fe0095;
$bg-light: #a0abb7;
$bg-dark: #010305;
$bg-accent-alt: #8fe4ff;
$text-header-dark: #8fe4ff;

// OPTION 3
$bg-primary: #333333;
$bg-secondary: #00ffff;
$bg-accent: #00ff00;
$bg-tertiary: #ff0066;
$bg-light: #a0abb7;
$bg-dark: #010305;
$bg-accent-alt: #8fe4ff;
$text-header-dark: #8fe4ff;

$secondary-font: 'Walkway-bold', Arial, Helvetica, sans-serif;
$primary-font: 'Silka', Arial, Helvetica, sans-serif;
$alt-font: 'W95FA', Arial, Helvetica, sans-serif;

$base-font-size: 22;
$base-spacer: rem(22);
