$bg-primary: #0f2238;
$bg-secondary: #455cff;
$bg-accent: #fe0095;
$bg-tertiary: #682be2;
$bg-accent-light: lighten(hsl(208, 56%, 52%), 20%);
$bg-light: #a0abb7;
$bg-dark: #010305;

$secondary-font: 'Montserrat', sans-serif;
$base-font-size: 22;
$base-spacer: rem(22);
